[submodule "3rdparty/PTO-Gym"]
	path = 3rdparty/PTO-Gym
	url = git@github.com:PTO-ISA/PTO-Gym.git
[submodule "3rdparty/VfSimulator"]
	path = 3rdparty/VfSimulator
	url = git@github.com:wang-chonghao/VfSimulator.git
